<%- include('partials/header') %>

<main class="container mx-auto my-4 pt-4 pb-8">
    <div class="container">
        <section>
            <h1 class="text-4xl font-bold pb-8">Welcome to Your Personal Therapy Exploration Quiz!</h1>
            <p>Embarking on a journey toward mental wellness is a brave and transformative step. This quiz is designed to be your companion as you explore the therapeutic paths that might resonate with your unique experiences and emotional landscape.</p>
            <p>Our goal is to introduce you to various therapy styles through a series of thoughtful questions. By reflecting on your preferences, coping mechanisms, and emotional tendencies, we aim to provide you with insights that could guide you toward the most compatible therapeutic approaches.</p>
            <p>Ready to Begin? Dive in with an open heart and an open mind. Your journey to deeper self-understanding starts here. When you're ready, hit the "Take Quiz" button, and let's explore the therapeutic possibilities together.</p>
            <% if (!currentStep) { %>
              <div class="text-center py-8">
                <form action="/quiz/handleQuizStep" method="POST">
                            <button type="submit" name="action" value="takeQuiz" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Take Quiz</button>
                        </form>  
                    </div>
              <% } %>
          </section>
        </div>
    </div>


    <div id="quiz-container" class="box-content size-3/4 p-4 border-4" style="margin: 0 auto;">
        <% if (stepData && stepData.interMessage) { %>
        <div class="inline-block">
            <h2 class="text-left mb-4 bg-sky-300 rounded-full px-4 py-2"><%= stepData.interMessage %></h2>
        </div>
        <% } %>
    
        <% if (isStartStep) { %>
            <form action="/quiz/handleQuizStep" method="POST">
                <button type="submit" name="action" value="start">Start Quiz</button>
            </form>
        <% } else if (stepData && stepData.question) { %>
            <div class="inline-block">
                <h2 class="text-left mb-4 bg-sky-300 rounded-full px-4 py-2"><%= stepData.question %></h2>
            </div>
            <ul>
                <% stepData.answers.forEach(answer => { %>
                    <li class="text-right mb-2">
                        <form action="/quiz/handleQuizStep" method="POST">
                            <button type="submit" name="userInput" value="<%= answer.text %>" class="bg-teal-500 rounded-full px-4 py-2">
                                <%= answer.text %>
                            </button>
                        </form>
                    </li>
                <% }); %>
            </ul>
        <% } %> 
     
          <% if (isEndStep && !aiResponse) { %>
            <div class="button">
                <form action="/quiz/AIresults" method="POST">
                    <button type="submit" name="action" value="results" class="bg-lime-300 rounded-full px-4 py-2 ">See Results</button>
                </form>  
            </div>
            <% } %>
            <% if (aiResponse) { %>
                <div class="ai-response">
                    <h3>Your personalized therapy recommendation:</h3>
                    <p><%= aiResponse %></p>
                </div>
            <% } %>
            <% if (currentStep !== "start" && currentStep !== "" || aiResponse) { %>
                <div class="button">
                    <form action="/quiz/handleQuizStep" method="POST">
                        <button type="submit" name="action" value="restart" class="bg-pink-200 rounded-full px-4 py-2">Restart Quiz</button>
                    </form>
                </div>
            <% } %>

        </div>
    </main>
<%- include('partials/footer') %>
