<%- include('partials/header') %>

<main class="mx-auto px-16 my-8"> <!-- Add px-16 for left and right padding -->
    <div class="">
        <section class="py-8">
            <h2 class="text-4xl font-bold text-center pb-12">Welcome to our "Find a Therapist" page!</h2>
            <p class="pb-4 text-xl">We are thrilled to offer a diverse and rich database of compassionate therapists dedicated to supporting your mental health journey. Here, you have the freedom to search for a therapist who not only meets your specific therapeutic needs but also resonates with your personal experiences and cultural background.</p>
            <p class="pb-4 text-xl">Whether you're seeking expertise in particular treatment types, looking for support in a language or dialect that feels like home, or aiming to find a therapist in your local area, our platform is designed to connect you with professionals who can provide the care you deserve.</p>
            <p class="pb-4 text-xl">Our goal is to make this search as smooth and reassuring as possible, ensuring that you find a therapist who truly understands you and can guide you towards healing and growth. We're here to support you every step of the way in finding the right therapist to walk alongside you on your path to wellbeing.</p>
        </section>
    </div>
    <div class="class">
        <h2 class="text-2xl font-bold mb-4">Therapists</h2>
    </div>
    <div class="flex">
        <div class="grid grid-cols-2 xl:grid-cols-3 gap-4">
            <% for(var i=0; i<profiles.length; i++) {%>
            <div class="card bg-white rounded-lg p-4" style="border: 1px solid black;">
                <section class="flex flex-col items-center space-y-4">
                    <img src="<%= profiles[i].image.replace('/upload/', '/upload/w_200,h_200,c_fill/') %>" alt="<%= profiles[i].firstName %> <%= profiles[i].lastName %>" class="rounded-full">
                    <div>
                        <h3 class="text-lg font-semibold"><%= profiles[i].firstName %> <%= profiles[i].lastName %>, <%= profiles[i].title %></h3>
                        <p class="text-gray-500"><%= profiles[i].location.state %></p>
                    </div>
                    <p class="mt-2"><%= profiles[i].bio %></p>
                    <div class="flex-grow"></div>
                    <button class="mt-2 px-4 py-2 text-white bg-blue-500 rounded">View Profile</button>
                </section>
            </div>
            <% } %>
        </div>
    </div>
</main>

<%- include('partials/footer') %>

<!-- <label for="treaments-select">Choose a treatment approach:</label>

<select id="pet-select">
  <option value="">--Please choose an option--</option>
  <option value="dog">Dog</option>
  <option value="cat">Cat</option>
  <option value="hamster">Hamster</option>
  <option value="parrot">Parrot</option>
  <option value="spider">Spider</option>
  <option value="goldfish">Goldfish</option>
</select> -->
